
.user-img {
  border-radius: 50%;
}

.user-single {
  
  .media-object {
    .rounded;
    .img--medium;
  }

  .media-body {
    text-align: left;
    padding-right: @gutter/3;
  }

  .user-single__name {
    margin-bottom: 3px;
  }

  .user-single__tagline {

  }
}