<div class="col-md-12" ng-controller="SignUpContributorCtrl">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Sign Up as a Contributor</h1>
      <p class="intro"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="centered" role="form">

        <label for="c-name" class="control-label">Your Full Name</label>
        <input class="form-control input-lg" id="c-name" type="text">

        <label for="c-skills" class="control-label">Skills</label>
        <input class="form-control input-lg" id="c-skills" type="text">

        <label for="c-experience" class="control-label">Industry Experience</label>
        <input class="form-control input-lg" id="c-experience" type="text">

        <label for="c-availability" class="control-label">Availability</label>
        <input class="form-control input-lg" id="c-availability" type="text">

        <label for="c-availability" class="control-label">Which industries are you interested in?</label>
        <input class="form-control input-lg" id="c-availability" type="text">
      </form>
    </div>
  </div>

</div>
