<div class="col-md-12" ng-controller="SignUpCtrl">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Sign Up as a Contributor</h1>
      <p class="intro"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="centered" role="form">

        <label for="c-name" class="control-label">Your Full Name</label>
        <input class="form-control input-lg" id="c-name" type="text">

        <label for="c-skills" class="control-label">Skills</label>
        <input class="form-control input-lg" id="c-skills" type="text">

        <label for="c-experience" class="control-label">Industry Experience</label>
        <div   
          multi-select
          input-model="industries"
          button-label="name"
          item-label="name"
          directive-id="c-experience"
          default-label="No industries selected"
          helper-elements="filter"
          tick-property="selected"
          orientation="horizontal"
        >
        </div>

        <label for="c-availability" class="control-label">Availability</label>
        <input class="form-control input-lg" id="c-availability" type="text">

        <label for="c-interests" class="control-label">Interests</label>
        <div   
          multi-select
          input-model="interests"
          button-label="name"
          item-label="name"
          directive-id="c-interests"
          default-label="No interests selected"
          helper-elements="filter"
          tick-property="selected"
          orientation="horizontal"
        >
        </div>

        <div class="row">
          <div class="col-md-12">
            <label for="c-credibility" class="control-label">Credibility Rating</label>
          </div>
          <div class="col-md-2">
            <p class="alpha">C</p>
          </div>
          <div class="col-md-4">
            <p>Your credibility rating can play a big role in elevating your contributor profile to superstar status. The more profile info you fill in and social networks you connect your vestd account with, the higher your credibility rating.</p>
          </div>
          <div class="col-md-6">
            <p><button type="button" class="btn btn-inverse btn-md btn-block">Connect with LinkedIn</button></p>
            <p><button type="button" class="btn btn-inverse btn-md btn-block">Connect with Twitter</button></p>
            <p><button type="button" class="btn btn-inverse btn-md btn-block">Connect with Facebook</button></p>
          </div>
        </div>

        <p class="form-footer"><button type="button" class="btn btn-default btn-lg btn-block">sign me up!</button></p>
      </form>
    </div>
  </div>

</div>
