<div class="col-md-12" ng-controller="SignUpCtrl">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Sign Up as a Founder</h1>
      <p class="intro"></p>

      <form class="centered" role="form">

        <tabset justified="true">

          <tab heading="About You">
            <label for="c-name" class="control-label">Your Full Name</label>
            <input class="form-control input-lg" id="c-name" type="text">

            <label for="c-skills" class="control-label">Skills</label>
            <input class="form-control input-lg" id="c-skills" type="text">

            <label for="c-experience" class="control-label">Industry Experience</label>
            <div   
              multi-select
              input-model="industries"
              button-label="name"
              item-label="name"
              directive-id="c-experience"
              default-label="No industries selected"
              helper-elements="filter"
              tick-property="selected"
              orientation="horizontal"
            >
            </div>
            <p class="form-footer"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="activateFounderTab('project')">continue</button></p>
          </tab>

          <tab heading="Your Project" active="foundertabs['project']">
            <label for="c-dream" class="control-label">The Dream</label>
            <textarea class="form-control" rows="3" id="c-dream" placeholder="What problem are you trying to solve? What kind of impact are you hoping to have?"></textarea>
            <label for="c-team" class="control-label">The Team</label>
            <textarea class="form-control" rows="3" id="c-team" placeholder="Who is currently involved with the project? Why you, whats your story? What are the team's skills and experience?"></textarea>
            <label for="c-scheme" class="control-label">The Scheme</label>
            <textarea class="form-control" rows="3" id="c-scheme" placeholder="What's your approach to solving the problem? What exactly does your solution do?"></textarea>
            <p class="form-footer"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="activateFounderTab('tasks')">continue</button></p>
          </tab>

          <tab heading="Your Tasks" active="foundertabs['tasks']">
            <div class="row">
                
              <div class="col-md-12">
                <h3>Based on the amazing input you've supplied so far we recommend the following tasks to kickstart your project!</h3>
                <ul class="tasks-list">
                  <li><a href="#" class="list-group-item">Terms of Service <span class="remove">remove</span></a></li>
                  <li><a href="#" class="list-group-item">Content Marketing Strategy <span class="remove">remove</span></a></li>
                  <li><a href="#" class="list-group-item">Research Project <span class="remove">remove</span></a></li>
                  <li><a href="#" class="list-group-item">Prototype development <span class="remove">remove</span></a></li>
                  <li><input type="text" class="form-control" placeholder="Add your own task"></li>
                </ul>
              </div>

            </div>

            <p class="form-footer"><button type="button" class="btn btn-default btn-lg btn-block">sign me up!</button></p>

          </tab>

        </tabset>

      </form>

    </div>
  </div>

</div>
