<div class="col-md-12" ng-controller="SignUpCtrl">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Sign Up as a Founder</h1>
      <p class="intro"></p>

        <tabset justified="true">

          <tab heading="About You">
            <form class="centered" role="form">
              <label for="c-name" class="control-label">Your Full Name</label>
              <input class="form-control input-md" id="c-name" type="text">

              <label for="c-skills" class="control-label">Skills</label>
              <input class="form-control input-md" id="c-skills" type="text">

              <label for="c-experience" class="control-label">Industry Experience</label>
              <div   
                multi-select
                input-model="industries"
                button-label="name"
                item-label="name"
                directive-id="c-experience"
                default-label="No industries selected"
                helper-elements="filter"
                tick-property="selected"
                orientation="horizontal"
              >
              </div>
              <p class="form-footer"><button type="button" class="btn btn-default btn-lg btn-block" ng-click="activateFounderTab('project')">continue</button></p>
            </form>
          </tab>

          <tab heading="Your Project" active="foundertabs['project']">

            <form class="centered" role="form">
              <label for="c-dream" class="control-label">Project name</label>
              <input class="form-control input-md" id="c-projectname" placeholder="Whats your business/project called?" type="text" ng-model="$parent.projectName"/>

              <label for="c-dream" class="control-label">Your title</label>
              <input class="form-control input-md" id="c-foundertitle" placeholder="What's your role on the project?" type="text" ng-model="$parent.projectName"/>

              <label for="c-dream" class="control-label">Your Dream</label>
              <div class="sublabel">Think in terms of: (1) 'Problem' - whats the problem you are trying to solve? (2) 'Impact' - what impact are you hoping to have have? What change are you hoping to bring about?</div>
              <textarea class="form-control" rows="3" id="c-dream" placeholder=""></textarea>

              <label for="c-team" class="control-label">Your Team</label>
              <div class="sublabel">Who is involved (names, roles)? Why this team? And what's your story, what do you collectively bring?</div>
              <textarea class="form-control" rows="3" id="c-team" placeholder=""></textarea>

              <label for="c-scheme" class="control-label">Your Scheme</label>
              <div class="sublabel">Think in terms of (1) 'The Solution' - Whats your approach to solving this problem? What does your solution do exactly? (2) 'Users' - What are the use cases for your solution? What's the value proposition?</div>
              <textarea class="form-control" rows="3" id="c-scheme" placeholder=""></textarea>

              <label for="c-scheme" class="control-label">Stage of maturity</label>
              <div class="sublabel">Which stage of maturity is your business currently in?</div>
              <ng-include src="'/partial/_components/forms-project-stage.html'"></ng-include>

              <p class="form-footer"><button type="button" class="btn btn-default btn-lg btn-block" ng-click="activateFounderTab('tasks')">continue</button></p>
            </form>
          </tab>

          <tab heading="Your Tasks" active="foundertabs['tasks']">
            <form class="centered" role="form" ng-submit="addNewTask()">
              <div class="row">
                <div class="col-md-12">
                  <h3>Based on the excellent input you've supplied so far we recommend the following tasks to kickstart your project. Remove any you don't need (or add your own), and then sit back and let us match you with expert constributors in your field.</h3>
                  <ul class="tasks-list">
                    <li class="animate animate-repeat" ng-repeat="task in tasks | filter:task.active = true">
                      <div class="list-group-item">{{task.name}} <a class="remove" href="" ng-click="task.active=false">remove</a></div>
                    </li>
                    <li><input type="text" class="form-control" placeholder="Add your own task" ng-model="$parent.newTabText"></li>
                    <a class="btn-info btn-circled btn-icono" href="" ng-click="addNewTask()"><span class="fa fa-plus"></span></a>
                  </ul>
                </div>
              </div>
              <p class="form-footer"><button type="button" class="btn btn-default btn-lg btn-block">Find {{projectName}} some contributors!</button></p>
            </form>
          </tab>

        </tabset>

      </form>

    </div>
  </div>

</div>
