@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

@import "bower_components/bootstrap/less/bootstrap.less";
@import "theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
@import "partial/project/project.less";
@import "partial/contributor/contributor.less";
@import "partial/founder/founder.less";
@import "partial/search-projects/search-projects.less";
@import "partial/_system/nav-primary/nav-primary.less";
@import "partial/_system/footer-primary/footer.less";
@import "partial/_system/homepage-proto/homepage-proto.less";
@import "partial/new-project/new-project.less";
@import "modals/basic-pass-protect/basic-pass-protect.less";
@import "partial/home/home.less";
@import "partial/discover/discover.less";
@import "partial/sign-in/sign-in.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}


//
// CUSTOM APP STYLES
// --------------------------------------------------


/**********************
      VARIABLES
***********************/


/**********************
        MIXINS
***********************/

.font--titles {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.font--body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}


/**********************
        GENERAL
***********************/

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f5f3ec;
}

.intro {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #222;

  a {
    text-decoration: none;
    color: #222;
  }
}


/**********************
   UTILITY CLASSES
***********************/

.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}


/**********************
        HEADINGS
***********************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
  &:extend(.font--titles);
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 82px 0 36px;
}

h3 {
  margin-top: 0;
  text-align: right;
  font-size: 14px;
}

h5, .h5 {
  font-size: 14px;
  font-weight: bold;
  color: #eb9316;
  text-transform: none; 
}

h6, .h6 {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}


/**********************
       BUTTONS
***********************/

.block-link {
  &:extend(.font--titles);
  display: block;
  margin-bottom: 20px;
  padding-top: 80px;
  height: 230px;
  border: 4px solid #333;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-size: 28px;
  line-height: 18px;
  background: #fff;

  &:hover {
    text-decoration: none;
    background: #333;
    color: #fff;
  }

  span {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    display: block;
    margin-top: 24px;
  }
}


/**********************
    WIDGETS: USERS
***********************/

.snip-user {
  margin-bottom: 24px;

  h4 {
    font-size: 14px;
    font-weight: 600;
  }

  .user-img {
    width: 60px;
  }
}

.user-img {
  border-radius: 50%;
}


/**********************
   PAGES: NEW PROJECT
***********************/

.new-project-tabs {
  margin-left: -15px;
}

.new-project-sidebar {
  padding: 20px 0;
}

.discover-links {
  margin-top: 52px;
}
