@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

@import "bower_components/bootstrap/less/bootstrap.less";
@import "variables-custom.less";
@import "theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
@import "partial/project/project.less";
@import "partial/contributor/contributor.less";
@import "partial/founder/founder.less";
@import "partial/search-projects/search-projects.less";
@import "partial/_system/nav-primary/nav-primary.less";
@import "partial/_system/footer-primary/footer.less";
@import "partial/_system/homepage-proto/homepage-proto.less";
@import "partial/new-project/new-project.less";
@import "modals/basic-pass-protect/basic-pass-protect.less";
@import "partial/home/home.less";
@import "partial/discover/discover.less";
@import "partial/sign-in/sign-in.less";
@import "partial/sign-up/sign-up.less";
@import "directive/action-mega/action-mega.less";
@import "directive/company-list/company-list.less";
@import "directive/company-single-line/company-single-line.less";
@import "directive/user-list/user-list.less";
@import "directive/user-single-line/user-single-line.less";
@import "partial/contributors/contributors.less";
@import "partial/dashboard/dashboard.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}


//
// CUSTOM APP STYLES
// --------------------------------------------------


/**********************
        GENERAL
***********************/

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: @base-color;
}

.intro, .subtext {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: @text-color;
  margin-bottom: 24px;

  a {
    text-decoration: none;
    font-weight: 800;
    color: @theme-primary-color;
  }
}

.subtext {
  margin-top: 32px;
}

.bg-light {
  background: @lighter-color;
}

.centered-content {
  text-align: center;
}

.row-centered {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.top-gutter {
  margin-top: 24px;
}

.light-border-right {
  border-right: 1px solid #ddd;
}


/**********************
   UTILITY CLASSES
***********************/

.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}
.animate.ng-enter,
.animate.ng-leave, {
  -webkit-transition:all linear 0.4s;
  transition:all linear 0.4s;
}
.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
  opacity:0;
}
.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
  opacity:1;
}


/**********************
        HEADINGS
***********************/

h1, h2, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
  &:extend(.font--titles);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
  strong {
    font-weight: 500;
  }
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 62px 0 36px;
  color: @dark-color;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 22px;
  margin: 42px 0;
  color: @dark-color;
}

h4 {
  font-size: 15px;
  font-weight: 600;
  color: @dark-color;
  padding-top: 6px;

  .sub {
    float: right;
    text-align: right;
    font-size: 11px;
    line-height: 18px;
    color: @theme-primary-color;
    text-transform: uppercase;
  }
}

h5, .h5 {
  font-size: 14px;
  font-weight: bold;
  color: @medium-color;
  text-transform: none;
  margin-bottom: 24px;
}

h6, .h6 {
  font-size: 12px;
  font-weight: bold;
  color: lighten(@text-color, 10%);
}

.alpha {
  &:extend(.font--titles);
  line-height: 130px;
  font-size: 160px;;
}

.beta {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 300;
}


/**********************
        FORMS
***********************/

form.centered, .form.centered {

  .control-label {
    text-transform: uppercase;
    font-size: 12px;
  }

  input[type=text], input[type=email], input[type=password], .ui-select-multiple, .dropdown {
    margin-bottom: @form-element-gutter;
  }

  .ui-select-multiple {
    input {
      margin-bottom: 0;
    }

    .ui-select-search {
      min-width: 200px;
    }

    .btn {
      background: #fff;
      color: #333;
      text-transform: none;
      font-weight: normal;
      font-size: 14px;
      border-color: #ddd;
      padding: 5px;
    }
  }

  textarea {
    margin-bottom: @form-element-gutter;
  }

  table {
    input[type=text], input[type=email], input[type=password], textarea {
      margin-bottom: 0;
    }
  }
}

form.bar {
  .control-label {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 12px;
    text-align: center;
  }
  input[type=text], input[type=email], input[type=password], select, textarea {
    margin-bottom: 0;
  }
}

form .multiSelect {
  .button {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 0;
    background-image: none;
    margin-bottom: @form-element-gutter;
    text-transform: none;
    font-weight: normal;

    &:hover {
      background-image: none;
    }
  }

  .caret {
    float: right;
    position: absolute;
    top: 16px;
    right: 9px;
  }

  .checkboxLayer {
    margin-top: -16px;
    margin-right: 15px;
    border-radius: 0;
    box-shadow: none;
    border-top: 0;
  }

  .multiSelectItem {
    min-width: 200px;

    label {
      font-weight: normal;
    }

    &:hover {
      background-image: none !important;
      background: @medium-color;
    }
  }
}

.form-footer {
  margin: 20px 0;
}

.sublabel {
  font-size: 12px;
  font-weight: 300;
  color: #777;
  margin-bottom: @form-element-gutter/2;
}


/**********************
       BUTTONS
***********************/

.btn-linkedin, .btn-twitter {
  &:extend(.font--titles);
  font-size: 16px;
}

.btn-linkedin {  
  background: #007BB6;
  border-color: darken(#007BB6, 10%);

  &:hover {
    background: darken(#007BB6, 10%);
  }
}

.btn-twitter {
  background: #3cf;
  border-color: darken(#3cf, 10%);

  &:hover {
    background: darken(#3cf, 10%);
    border-color: darken(#3cf, 10%);
  }
}



/**********************
    WIDGETS: TASKS
***********************/

.panel-task {
  padding: 12px;
  background: #f9f9f9;
  .box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  position: relative;

  h4 {
    margin-top: 0;
    font-size: 16px;
  }

  .task-action {
    position: absolute;
    top: 16px;
    background: none;
    border: none;

    &.edit {
      right:8px;
      color: @theme-primary-color;
    }

    &.delete {
      right: 32px;
      color: #d22;
      opacity: 0.5;
    }
  }

  .form-buttons {
    background: @lightest-color;
    margin-top: 6px;
  }

  .control-label {
    opacity: 0.75;
    margin-top: 5px;
    margin-bottom: 3px;
  }

  .editable-wrap {
    display: block;
  }

  .editable-input {
    margin-bottom: 12px !important;
  }

  .editable-empty {
    color: @warning-color;
  }

  p.editable {
    font-size: 12px;
  }

  select.editable-input {
    padding-left: 2px;
    padding-right: 0;
    font-size: 12px;
  }
}

.tasks-list {

  .col-md-4:nth-child(3n + 1) {
    clear: left;
  }
}


/**********************
    WIDGETS: USERS
***********************/

.project-single {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 70px;

  .media-object {
    .img--medium;
  }
}

.alpha-icon {
  line-height: 80px;
  font-size: 42px;
  border-radius: 50%;
  border: 3px solid @theme-primary-color;
  color: @theme-primary-color;
  background: transparent;
  width: 112px;
  height: 112px;
  text-align: center;

  > span {
    text-transform: uppercase;
    color: @theme-primary-color;
    font-weight: 800;
    font-size: 10px;
    display: block;
    clear: both;
    line-height: 0px;
    margin-top: -2px;
  }
}

.nav-primary {

  .collapse.in, .collapsing {
    .nav {
      font-size: 14px;
    }
    i {
      display: inline-block;
      width: 22px;
      font-size: 20px;
      text-align: center;
      margin-right: 12px;
    }
  }
}

.nav-secondary {
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 16px;

  h2 {
    font-size: 22px;
    padding-top: 2px;
  }

  .multiSelect .button {
    margin-bottom: 0;
    min-height: 34px !important;
  }
}

@media (max-width: @screen-sm-min) {
.navbar-brand img {
    height: 32px;
    margin-left: 6px;
  }
}

.dummy-block-md {
  background: @medium-color;
  height: 100px;
  margin:20px 0 8px;
}

