@border-radius-base:          0;
@border-radius-large:         0;
@border-radius-small:         0;

@navbar-default-bg:           #222;
@navbar-border-radius:        0;
@navbar-active-bg:            #333;

@font-size-large:             ceil((@font-size-base * 1.5)); // ~20px

@nav-tabs-base-color:         @gray-lighter;
@nav-tabs-padding:            20px;

@btn-default-bg:              #222;


.font--titles {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}