<div class="col-md-12" ng-controller="DiscoverCtrl">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Discover</h1>
      <p class="intro">vestd connects startups with a pool of amazingly talented individuals like never before. From planning to business development to app design, no matter what stage your new venture is at there are hundreds of professionals ready and waiting to take you to the next level.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="discover-links">
        <div class="row">
          <div class="col-md-6 has-mega animated col-founder">
            <action-mega buttontitle="I'm a founder" buttonsubtitle="show me some awesome contributors">
              <form class="centered">
                <label for="c-name" class="control-label">Your Industry Sector</label>
                <div   
                  multi-select
                  input-model="industries"
                  button-label="name"
                  item-label="name"
                  directive-id="c-experience"
                  default-label=""
                  helper-elements="filter"
                  tick-property="selected"
                  orientation="horizontal"
                  selection-mode="single"
                >
                </div>
                <label for="c-name" class="control-label">Contributor Experience</label>
                <input class="form-control input-md" id="c-name" type="text">
                <label for="c-name" class="control-label">Your Project Stage</label>
                <input class="form-control input-md" id="c-name" type="text">
              </form>
            </action-mega>
            <div class="sample-people">
              <h3>We've got over <strong>780 highly skilled professionals</strong> right here, ready to help you blossom...</h3>
              <user-list users="usersOut" limit="3"></user-list>
            </div>
          </div>
          <div class="col-md-6 has-mega animated col-contributor">
            <action-mega buttontitle="I'm a contributor" buttonsubtitle="i'm ready to share my skills and expertise">

            </action-mega>
            <div class="sample-people">
              <h3><strong>245 revolutionary startups</strong> (and counting), searching for skills just like yours...</h3>
              <ul class="">
                <li ng-repeat="project in projectsOut | limitTo:3" class="media project-single">
                  <a class="pull-left" href="#">
                    <img class="media-object project-single__image" ng-src="/images/{{project.logo}}" alt="Photo: {{project.name}}" title="{{project.name}}"/>
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading user-single__name">{{project.name}} <span class="sub">{{project['company-value'] | currencyNoDecimal}}</span></h4>
                    <p class="user-single__tagline">{{project.tagline}}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
