<div class="col-md-12" ng-controller="DiscoverCtrl">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Discover</h1>
      <p class="intro">vestd connects startups with a pool of amazingly talented individuals like never before. From planning to business development to app design, no matter what stage your new venture is at there are hundreds of professionals ready and waiting to take you to the next level.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <div class="discover-links">
        <div class="row">

          <div class="col-md-6 has-mega animated col-founder">
            <action-mega buttontitle="I'm a founder" buttonsubtitle="find me some awesome contributors">
              <form class="centered">

                <!-- 1. Industry -->
                <label for="c-name" class="control-label">My Industry Sector</label>
                <ui-select ng-model="discover.model.selected.industries">
                  <ui-select-match placeholder="Select your industry or sector...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="industry.name as industry in discover.model.industries | propsFilter: {name: $select.search}">
                    <div ng-bind-html="industry.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>

                <!-- 2. Skills -->
                <label for="c-name" class="control-label">I need help with...</label>
                <ui-select ng-model="discover.model.selected.skills">
                  <ui-select-match placeholder="Search for tasks and skills...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="skill.name as skill in discover.model.skills | propsFilter: {name: $select.search}">
                    <div ng-bind-html="skill.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>

                <!-- 3. Project Stage -->
                <label for="c-name" class="control-label">My Project Stage</label>
                <div ui-view="projectstage"></div>

                <button type="button" class="btn btn-primary btn-lg btn-block" ui-sref="contributors">Find contributors</button>
              </form>
            </action-mega>
            <div class="sample-people">
              <h3>We've got over <strong>780 highly skilled professionals</strong> right here, ready to help you blossom...</h3>
              <user-list users="usersOut" limit="3"></user-list>
            </div>
          </div>

          <div class="col-md-6 has-mega animated col-contributor">
            <action-mega buttontitle="I'm a contributor" buttonsubtitle="i'm ready to share my skills and expertise">
              <form class="centered">
                
                <!-- 1. Industries -->
                <label for="c-name" class="control-label">Industries I can help in</label>
                <ui-select ng-model="discover.model.selected.industries">
                  <ui-select-match placeholder="Select your industry or sector...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="industry.name as industry in discover.model.industries | propsFilter: {name: $select.search}">
                    <div ng-bind-html="industry.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>

                <!-- 2. Skills -->
                <label for="c-name" class="control-label">Skills I can offer</label>
                <ui-select ng-model="discover.model.selected.skills">
                  <ui-select-match placeholder="Search for tasks and skills...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="skill.name as skill in discover.model.skills | propsFilter: {name: $select.search}">
                    <div ng-bind-html="skill.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>

                <button type="button" class="btn btn-primary btn-lg btn-block">Match my skills to a project</button>

              </form>
            </action-mega>
            <div class="sample-people">
              <h3><strong>245 revolutionary startups</strong> (and counting), searching for skills just like yours...</h3>
              <ul class="">
                <li ng-repeat="project in projectsOut | limitTo:3" class="media project-single">
                  <a class="pull-left" href="#">
                    <img class="media-object project-single__image" ng-src="/images/{{project.logo}}" alt="Photo: {{project.name}}" title="{{project.name}}"/>
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading user-single__name">{{project.name}} <span class="sub">worth {{project['company-value'] | currencyNoDecimal}}</span></h4>
                    <p class="user-single__tagline">{{project.tagline}}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
