<div class="col-md-12" ng-controller="DashboardCtrl">

  <div class="dashboard-header">
    <div class="row bg-light">
      <div class="col-md-8">
        <div class="media user-header">
          <div class="media-object pull-left">
            <img class="user-header__image" src="https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg"/>
          </div>
          <div class="media-body">
            <h4 class="media-heading user-header__name">Sally Founder</h4>
            <p class="user-header__tagline">Founder. 3 projects.</p>
            <p class="user-header__selector">Incredifone</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p>project activity</p>
      </div>
    </div>
  </div>

  <div class="dashboard-body">
    <div class="row">
      <div class="col-md-8">
        
      </div>
      <div class="col-md-4 bg-light">
        
      </div>
    </div>
  </div>

</div>
