<div class="col-md-12" ng-controller="DashboardCtrl">

  <div class="dashboard-header">
    <div class="row bg-light">
      <div class="col-md-8">
        <div class="media user-header">
          <div class="media-object pull-left">
            <img class="user-header__image" src="https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg"/>
          </div>
          <div class="media-body">
            <h4 class="media-heading user-header__name">Sally Founder</h4>
            <p class="user-header__tagline">Founder. 3 projects.</p>
            <p class="user-header__selector">
              <select ng-model="dash.project">
                <option>Incredifone</option>
                <option>betabook</option>
                <option>WaterfallApp</option>
              </select>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="subheading">project activity</h5>
        <div>
          <canvas id="chartActivity" class="responsiveChart" width="800" height="160"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-body">
    <div class="row">
      <div class="col-md-8 dashboard-main">
        <section class="overview">
          <h5>{{dash.project}}: Task Overview</h5>
          <div class="row">
            <div class="col-sm-4">
              <img src="/images/completion.png"/>
            </div>
            <div class="col-sm-8">
              <table class="table-bordered status-table">
                <tbody>
                  <tr>
                    <td>
                      <div class="statusbar"><span style="width:80%"></span></div>
                      <p class="statustitle">Problem Validation</p>
                      <div class="statusvalues"><span>4</span>/5</div>
                    </td>
                    <td>
                      <div class="statusbar"><span style="width:50%"></span></div>
                      <p class="statustitle">Solution Validation</p>
                      <div class="statusvalues"><span>3</span>/6</div>
                    </td>
                    <td>
                      <div class="statusbar"><span style="width:13%"></span></div>
                      <p class="statustitle">Business Validation</p>
                      <div class="statusvalues"><span>1</span>/9</div>
                    </td>
                    <td>
                      <div class="statusbar"></div>
                      <p class="statustitle">MVP</p>
                      <div class="statusadd"><i class="fa fa-plus"></i></div>
                    </td>
                    <td>
                      <div class="statusbar"></div>
                      <p class="statustitle">Scaling</p>
                      <div class="statusadd"><i class="fa fa-plus"></i></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-4 bg-light">
        
      </div>
    </div>
  </div>

</div>
