<h1>Tell us about your project</h1>

<div class="container-fluid" ng-controller="NewProjectCtrl">

  <div class="row">
    
    <div class="col-md-9">
      <tabset vertical="true" class="new-project-tabs">
        <!-- start tabPages[] -->
        <tab ng-repeat="page in tabPages track by page.num" active="page.active" select="pageSelected($index)">
          <tab-heading><span>{{page.num}}</span>{{page.name}}</tab-heading>
          <p class="tab-intro">{{page.intro}}</p>
          <!-- start tabs[] -->
          <accordion close-others="true">
            <accordion-group ng-repeat="tab in tabs[$index+1] track by tab.heading" is-open="tab.isOpen">
              <accordion-heading>{{tab.heading}}<i ng-show="tab.completed" class="pull-right fa fa-check"></i></accordion-heading>
              <ng-include src="tab.content"></ng-include>
              <p><a class="btn btn-warning continue" ng-click="continueClick($index)" href="">Save and continue</a></p>
            </accordion-group>
          </accordion>
          <!-- END tabs[] -->
          <!-- <div class="tab-footer">
            <a class="btn btn-success btn-lg btn-block continue" ng-click="test()">Take me to Phase 2!</a>
            <p><a class="btn-cancel">skip this phase for now</a></p>
          </div> -->
        </tab>
        <!-- END tabPages[] -->
      </tabset>
    </div>

    <div class="col-md-3">
      <div class="new-project-sidebar">
        <h5>{{tabPages[activePage-1].num}}. {{tabPages[activePage-1].name}}</h5>
        <progressbar value="totalPercentage(activePage)" max="100" type="warning">{{completedCount(activePage)}}/{{totalCount(activePage)}}</progressbar>
        <hr/>
        <div class="widget-contributors">
          <h3>Recommended Contributors</h3>
          <div class="media snip-user">
            <a class="pull-left" href="#">
              <img class="media-object user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/vladarbatov/73.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Jack Swishart</h4>
              Serial Entrepreneur and Business Development Expert
            </div>
          </div>
          <div class="media snip-user">
            <a class="pull-left" href="#">
              <img class="media-object user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/jina/73.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Deborah Gonzales</h4>
              'The Startup Queen'. Over 10 years success.
            </div>
          </div>
          <div class="media snip-user">
            <a class="pull-left" href="#">
              <img class="media-object user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/flame_kaizar/73.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Shreya Verma</h4>
              Strategic Planner &amp; Business Development Expert
            </div>
          </div>
        </div>
        <hr/>
        <h5>Recommended Tasks</h5>
      </div>
    </div>

  </div><!-- /row -->

</div>
