<div ui-view>
                <div class="btn-group btn-group-justified btn-group-lg btn-group-custom">
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="discover.model.projectStage" btn-radio="1" tooltip="Validating the concept - customer interviews, market analysis, competitor research, etc">1<span class="subtext">Problem Validation</span></label>
                  </div>
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="discover.model.projectStage" btn-radio="2" tooltip="Developing a low fidelity prototype that can be tested with real customers">2<span class="subtext">Solution Validation</span></label>
                  </div>
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="discover.model.projectStage" btn-radio="3" tooltip="Validating our assumptions around revenue model, distribution channels, etc">3<span class="subtext">Business Validation</span></label>
                  </div>
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="discover.model.projectStage" btn-radio="4" tooltip="Development of a 'minimum viable product' or high fidelity prototype">4<span class="subtext">MVP</span></label>
                  </div>
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="discover.model.projectStage" btn-radio="5" tooltip="Growing a validated business through sales, marketing and PR">5<span class="subtext">Scaling</span></label>
                  </div>
                </div>
</div>