<div ng-controller="DiscoverCtrl">

  <div class="nav-secondary">
    <form class="bar">
      <div class="row">
        <div class="col-md-3">
          <h2>Find Contributors</h2>
        </div>
        <div class="col-md-3">
          <label class="control-label">Your Industry Sector</label>
          <div   
            multi-select
            input-model="industries"
            button-label="name"
            item-label="name"
            directive-id="c-experience"
            default-label=""
            helper-elements="filter"
            tick-property="selected"
            orientation="horizontal"
            selection-mode="single"
          >
          </div>
        </div>
        <div class="col-md-3">
          <label class="control-label">Your Project Stage</label>
          <!-- <input class="form-control input-md input-block" type="text" ng-model="$parent.projectStageModel"> -->
          <div class="btn-group btn-group-justified">
            <label class="btn btn-info active" tooltip-append-to-body="true" tooltip="Problem Validation" ng-model="$parent.projectStage" btn-radio="'1'">1
            </label>
            <label class="btn btn-info" tooltip-append-to-body="true" tooltip="Solution Validation" ng-model="$parent.projectStage" btn-radio="'2'">2
            </label>
            <label class="btn btn-info" tooltip-append-to-body="true" tooltip="Business Validation" ng-model="$parent.projectStage" btn-radio="'3'">3
            </label>
            <label class="btn btn-info" tooltip-append-to-body="true" tooltip="MVP" ng-model="$parent.projectStage" btn-radio="'4'">4
            </label>
            <label class="btn btn-info" tooltip-append-to-body="true" tooltip="Scaling" ng-model="$parent.projectStage" btn-radio="'5'">5
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <label class="control-label">Skills Your Project Needs</label>
          <input class="form-control input-md input-default input-block" type="text" ng-model="skills" ng-model="$parent.projectStage">
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12">
    <div class="contributors-list">
      <div class="row">
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
      </div>
    </div>
  </div>

</div>
