<div ng-controller="SignUpCtrl">

  <div class="nav-secondary">
    <form class="bar">
      <div class="row">
        <div class="col-md-3">
          <h2>Find Contributors</h2>
        </div>
        <div class="col-md-3">
          <label class="control-label">My Industry Sector</label>
          <input class="form-control input-md input-block" type="text" ng-model="sector">
        </div>
        <div class="col-md-3">
          <label class="control-label">My Project Stage</label>
          <!-- <input class="form-control input-md input-block" type="text" ng-model="$parent.projectStageModel"> -->
          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-info active">
              <input type="radio" name="options" id="option1" checked> 1
            </label>
            <label class="btn btn-info">
              <input type="radio" name="options" id="option2"> 2
            </label>
            <label class="btn btn-info">
              <input type="radio" name="options" id="option3"> 3
            </label>
            <label class="btn btn-info">
              <input type="radio" name="options" id="option3"> 4
            </label>
            <label class="btn btn-info">
              <input type="radio" name="options" id="option3"> 5
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <label class="control-label">Skills My Project Needs</label>
          <input class="form-control input-md input-block" type="text" ng-model="skills">
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12">
    <div class="contributors-list">
      <div class="row">
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
        <div class="col-md-3 col-sm-6"><div class="dummy-block-md"></div></div>
      </div>
    </div>
  </div>

</div>
