<p>Which marketing methods will you be using? (select all that apply)
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-boxed">
    <input type="checkbox" value="Online"> Online
  </label>
  <label class="btn btn-boxed">
    <input type="checkbox" value="Offline"> Offline
  </label>
  <label class="btn btn-boxed">
    <input type="checkbox" value="PR"> PR
  </label>
</div><br/><br/>
<div>
  <textarea class="form-control" rows="3" placeholder="More detail..."></textarea><br/>
</div>