<p>In a nutshell, how will you make money?</p>
<ul class="list-group form-multiple-options">
  <li class="list-group-item"><div class="checkbox"><label><input type="checkbox"/> Asset sale</label></div></li>
  <li class="list-group-item"><div class="checkbox"><label><input type="checkbox"/> Usage fees</label></div></li>
  <li class="list-group-item"><div class="checkbox"><label><input type="checkbox"/> Subscription fees</label></div></li>
  <li class="list-group-item"><div class="checkbox"><label><input type="checkbox"/> Lending, renting, and/or leasing</label></div></li>
  <li class="list-group-item"><div class="checkbox"><label><input type="checkbox"/> Licensing</label></div></li>
  <li class="list-group-item"><div class="checkbox"><label><input type="checkbox"/> Brokerage fees</label></div></li>
  <li class="list-group-item"><div class="checkbox"><label><input type="checkbox"/> Advertising</label></div></li>
</ul>