<p>How will you get your product or service out to your customers?</p>
<ul class="list-group form-multiple-options">
  <li class="list-group-item"><input type="checkbox"/> Sales force</li>
  <li class="list-group-item"><input type="checkbox"/> Web sales</li>
  <li class="list-group-item"><input type="checkbox"/> Own stores</li>
  <li class="list-group-item"><input type="checkbox"/> Partner stores</li>
  <li class="list-group-item"><input type="checkbox"/> Wholesalers</li>
  <li class="list-group-item"><input type="checkbox"/> Brokerage fees</li>
</ul>