<p>How large is your market?</p>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-boxed">
    <input type="radio" name="p1m"> Under $100,000
  </label>
  <label class="btn btn-boxed">
    <input type="radio" name="p1m"> $100,000 to $1 million
  </label>
  <label class="btn btn-boxed">
    <input type="radio" name="p1m"> over $1 million
  </label>
</div><br/><br/>
<p>Which industry or sector will your project be operating in?</p>
<p><select class="form-control">
  <option>- select one -</option>
  <option>Agriculture</option>
  <option>Finance</option>
  <option>Retail</option>
  <option>Services</option>
  <option>Technology</option>
</select><br/></p>
<p>Name your competition</p>
<p><input class="form-control" type="text" placeholder="e.g. Microsoft, Apple and KFC"></p>