<ul class="list-group form-multiple-options">
  <li class="list-group-item"><input type="checkbox"/> Cost-driven</li>
  <li class="list-group-item"><input type="checkbox"/> Value-driven</li>
  <li class="list-group-item"><input type="checkbox"/> Fixed costs</li>
  <li class="list-group-item"><input type="checkbox"/> Variable costs</li>
  <li class="list-group-item"><input type="checkbox"/> Economies of scale</li>
  <li class="list-group-item"><input type="checkbox"/> Economies of scope</li>
</ul>