<p>As opposed to an elaborate business plan which limits your flexibility and openness to learning, a 'business model canvas' lays out your assumptions to be tested and describes how your company creates, delivers and captures value. It is flexible and will probably evolve as time passes and new ideas spring to mind. Whether your goal is to make money, get users, or grow traffic, your business model canvas describes how all of the pieces in your business interconnect. If the grid below seems a little daunting at first, don't worry, you can always come back to this screen at any time and pick up where you left off.</p>
<div class="row">
  <div class="col-md-4">
    <div class="canvas-panel">
      <h5>Customer Segments</h5>
      <p class="small">Who are your customers?</p>
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <div class="canvas-panel">
      <h5>Value Proposition</h5>
      <p class="small">What are you offering?</p>
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <div class="canvas-panel">
      <h5>Customer Relationships</h5>
      <p class="small">xxx?</p>
      <textarea class="form-control"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="canvas-panel">
      <h5>Channels</h5>
      <p class="small">How do you get to market?</p>
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <div class="canvas-panel">
      <h5>Revenue Streams</h5>
      <p class="small">How will you make money?</p>
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <div class="canvas-panel">
      <h5>Key Resources</h5>
      <p class="small">What do you need to make that happen?</p>
      <textarea class="form-control"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="canvas-panel">
      <h5>Key Partners</h5>
      <p class="small">Who are the key players for the project?</p>
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <div class="canvas-panel">
      <h5>Key Activities</h5>
      <p class="small">xxx?</p>
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <div class="canvas-panel">
      <h5>Cost Structure</h5>
      <p class="small">What are your costs?</p>
      <textarea class="form-control"></textarea>
    </div>
  </div>
</div>